.env
.idea
.vscode
*.pyc
COLCON_IGNORE
AMENT_IGNORE
cmake-build-*/
build/
install/
log/
libfranka
fr3_leap_recorder/fr3_leap_recorder/fr3_leap_recorder_backup.py
fr3_leap_teleop/fr3_leap_teleop/test.py
fr3_leap_recorder/fr3_leap_recorder/main_old.py
fr3_leap_recorder/fr3_leap_recorder/colormap.py
dex_retargeting/dex_retargeting/optimizer_backup.pytact9d/tact9d.egg-info/
