.idea
.vscode
*.pyc
COLCON_IGNORE
AMENT_IGNORE
cmake-build-*/
build/
install/
log/
# Don't show libfranka or franka_description
# even though they might exist in this directory
libfranka/
franka_description/
